<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>회원가입</title>

    <div th:replace="common/fragments.html :: head"></div>

    <!-- login form 출처 : https://codepen.io/rajashekhar90/pen/XWNaapG -->
    <link rel="stylesheet" href="css/register.css" />
</head>
<body>
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>회원가입</h3>
                        <form class="requires-validation" novalidate>

                            <div class="col-md-12">
                                <input class="form-control" type="text" id="username" name="username" placeholder="아이디" required>
                                <div class="valid-feedback">Username field is valid!</div>
                                <div class="invalid-feedback">Username field cannot be blank!</div>
                            </div>

                            <div class="col-md-12">
                                <input class="form-control" type="password" id="password" name="password" placeholder="비밀번호" required>
                                <div class="valid-feedback">Password field is valid!</div>
                                <div class="invalid-feedback">Password field cannot be blank!</div>
                            </div>

                            <div class="col-md-12">
                                <input class="form-control" type="text" id="age" name="age" placeholder="나이" required>
                                <div class="valid-feedback">age field is valid!</div>
                                <div class="invalid-feedback">age field cannot be blank!</div>
                            </div>

                            <div class="form-button mt-3">
                                <button type="button" class="btn btn-primary" onclick="register();">회원가입</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="common/fragments.html :: body"></div>

    <script>
        (function () {
        'use strict'
        const forms = document.querySelectorAll('.requires-validation')
        Array.from(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }

              form.classList.add('was-validated')
            }, false)
          })
        })()

        // 회원가입
        function register() {
            const csrfToken = $("meta[name='_csrf']").attr("content");
            const csrfHeader = $("meta[name='_csrf_header']").attr("content");

            const username = $("#username").val();
            const password = $("#password").val();
            const age = $("#age").val();

            $.ajax({
                type: "POST",
                url: "/register",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                contentType: "application/json",
                data: JSON.stringify({
                    username,
                    password,
                    age: Number(age)
                }),
                success: function(res) {
                    if (res.success) {
                        alert('회원가입이 완료되었습니다.');
                        location.href = "/login";
                    } else {
                        alert('회원가입에 실패하였습니다.');
                    }
                },
                error: function(request, status, error) {
                    alert('회원가입중 오류가 발생하였습니다.');
                }
            });

        }
    </script>
</body>
</html>